/* Barnaul Consulting Experts HTML Template*/

@media only screen and (max-width: 5000px){
	.page-wrapper{
		overflow: hidden;
	}
}

@media only screen and (max-width: 1140px){
	.main-header .main-box{
		padding: 0 20px;
	}

	.main-slider h2{
		font-size: 50px;
		line-height: 1.2em;
	}

	.main-slider h1{
		font-size: 60px;
	}

	.about-block-two .inner-box{
		padding: 40px 20px 30px;
	}

	.sidebar-page-container .sidebar-side .default-sidebar{
		padding-left: 0;
	}
	.services-single .two-column .content-column .inner-column{
		padding-right: 0;
	}

	.news-block-two .caption-box h3,
	.news-block .caption-box h3{
		font-size: 16px;
	}

	.contact-page-section .form-column .inner-column{
		padding-left: 0;
	}

	.contact-page-section .info-column:before{
		margin: 0;
	}

	.contact-page-section .form-column{
		background: #ffffff;
	}


	.gallery-item .image-box .overlay-box:before{
		padding: 15px;
	}

	.gallery-item:hover .image-box .overlay-box .link{
		-webkit-transform: scale(.7);
		-moz-transform: scale(.7);
		-ms-transform: scale(.7);
		-o-transform: scale(.7);
		transform: scale(.7);
	}
	
	.gallery-item .image-box .title-box p{
		display:none;	
	}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	.main-header .header-lower{
		margin-top: 0;
		position: relative;
		background-color: #333333;
	}
	
	.page-title{
		padding: 100px 0;
	}
	
	.main-header .dropdown-menu{
		top: 50px;
	}
	
	.fixed-header .sticky-header{
		display: none !important;
	}
	
	.main-header .main-box .logo-box{
		width: 100%;
		text-align: center;
		background: none;
		padding: 10px 0;
	}

	.main-menu .navigation > li:first-child{
		margin-left: 0;
	}

	.main-header .nav-outer{
		width: 100%;
	}

	.nav-outer .search-box-outer,
	.main-menu .navigation > li{
		padding: 25px 0;
	}

	.main-slider h2{
		font-size: 40px;
		line-height: 1.2em;
	}

	.about-block{
		text-align: center;
	}

	.about-block .graph-outer{
		margin: 0 auto 20px; 
	}

	.about-us .image-column .image-box > img,
	.about-us .image-column .image-box{
		width: 100%;
		max-width: 100%;
	}

	.help-section .progress-column .inner-column{
		padding-left: 0;
	}

	.about-block-two .inner-box{
		text-align: center;
	}

	.about-block-two .graph-outer{
		margin: 0 auto 35px;
	}

	.about-style-two .content-column .inner-column{
		padding-right: 0;
	}

	.about-style-two .counter-column .inner-column{
		padding-top: 35px;
		margin: 0;
	}

	.video-section-two .content-column .inner-column{
		padding-right: 15px;
	}

	.services-single{
		margin-right: 0;
	}

	.services-single .image-box img{
		max-width: 100%;
		width: 100%;
	}

	.sidebar-page-container .comment-form{
		padding-right: 0;
	}

	.fact-counter .column{
		padding: 0 15px;
	}
	
	.fact-counter .row{
		margin: 0 15px;
	}
	
	.video-section-two .content-column .inner-column{
		padding-top:0px;	
	}

	.gallery-full-width .big-column{
		width: 100%;
	}
	
	.gallery-full-width .small-column{
		width: 50%;
	}

}

@media only screen and (max-width: 767px){	
	.main-header .main-box{
		padding: 0;
	}

	.main-header.fixed-header{
		position: fixed;
	}

	.main-header.fixed-header .header-top{
		display: none!important;
	}

	.main-header .main-box .logo-box{
		width: auto;
		padding: 10px 0;
	}
	
	.search-box-outer{
		display: none;
	}
	
	.main-header .nav-outer{
	    width: 100%;
	    margin-top: -63px;
	}
	
	.main-header .main-menu{
		padding-top: 0px;
		width: 100%;
		margin: 0px;
	}

	.main-menu .navbar-header {
	    position: relative;
	    float: none;
	    display: block;
	    text-align: right;
	    width: 100%;
			right: 0px;
			margin-top: 14px;
	}

	.main-menu .collapse {
	   max-height:400px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:20;
		border:1px solid #e09b40;
		float:none;
		margin:0px 0px 0px 0px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		background:#e09b40;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size:15px !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#333333;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul > li:first-child,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:first-child{
		border-top:none !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px !important;
		line-height:22px;
		color:#ffffff;
		font-weight:500;
		font-size:15px;
		background:#333333;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#ff5926;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#333333;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before,
	.main-slider .bordered-layer{
		display:none !important;	
	}

	.video-section .content-box h2,
	.sec-title > h2{
		font-size: 28px; 
	}

	.sec-title > h3{
		font-size: 24px;
	}

	.news-block .caption-box{
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	
	.gallery-full-width,
	.gallery-section.style-two,
	.video-section,
	.gallery-section{
		padding: 70px 0;
	}

	.team-section{
		padding: 70px 0 0;
	}

	.sidebar-page-container,
	.pricing-section,
	.services-section.style-two,
	.features-section,
	.help-section,
	.fun-fact-section,
	.services-section{
		padding: 70px  0 20px;
	}

	.video-section-two,
	.main-footer .widgets-section,
	.news-section,
	.about-us{
		padding: 70px 0 30px;
	}

	.fact-counter-section,
	.about-style-two,
	.subscribe-section{
		padding: 70px 0 40px;
	}

	.testimonial-area{
		padding: 70px 0 50px;
	}

	.testimonial-section .testimonial-area{
		padding: 190px 0 70px;
	}
	.main-slider h1{
		font-size: 40px;
	}

	.main-slider p br{
		display: none;
	}

	.mixitup-gallery .filters .filter-tabs{
		padding: 0 10px;
	}

	.mixitup-gallery .filters li{
		padding: 15px;
	}

	.about-style-two .counter-column .inner-column{
		padding-top: 0;
	}

	.services-section.style-two .sec-title{
		margin-bottom: 20px;
	}

	.gallery-item .inner-box{
		border-right: 0;
	}

	.services-section.style-two .service-block .inner-box{
		padding-top:40px;
	}

	.service-block .inner-box{
		padding: 60px 0px;
		min-height: 200px;
	}

	.video-section-two .video-image{
		margin: 0;
	}

	.accordin-section{
		padding-bottom: 20px;
	}

	.fun-fact-section .counter-column:before{
		display: none;
	}

	.testimonial-section .section-banner{
		padding-bottom: 110px;
	}

	.video-section-two .content-column .inner-column{
		padding-right: 0px;
	}

	.blog-single .news-block .lower-content{
		padding: 40px 15px 30px;
	}

	.blog-single blockquote{
		margin: 0 0px 40px;
		padding-right: 15px;
		font-size: 16px;
		line-height: 26px;
	}

	.error-section h2{
		font-size: 28px;
	}

	.error-section{
		padding: 100px 0;
	}

	.gallery-full-width .filters li{
		padding: 15px 15px;
	}

	.gallery-full-width .filters{
		margin-bottom: 40px;
	}

	.contact-page-section .form-column .inner-column{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.contact-page-section .info-column .inner-column{
		padding: 70px 0 45px;
	}

	.accordion-box{
		padding: 15px;
	}
	
	.video-section .content-box .video-link{
		padding-left: 95px;
	}
	
	.gallery-item .image-box .title-box{
		position:relative;
		background:#f9f9f9;	
	}
	
	.gallery-item .image-box .title-img{
		display:none;
	}

	.page-title h1{
		font-size: 30px;
	}

}

@media only screen and (max-width: 599px){

	.main-slider h2{
		font-size: 24px;
	}

	.main-slider p{
		font-size: 14px;
		line-height: 1.3em;
	}

	.about-us .image-column .image-box .overlay-box{
		margin: 0px 15px 15px;
	}

	.news-block .caption-box{
		padding: 30px 15px 20px; 
	}

	.main-header .header-top .top-left{
		display: none;
	}

	.main-header .header-top .top-right{
		width: 100%;
		padding: 8px 0;
	}

	.main-header .header-top .top-right ul li{
		margin-right: 0;
		padding:0;
		width: 100%;
		text-align: center;
	}

	.testimonial-slider .text{
		font-size: 16px;
	}

	.subscribe-section{
		text-align: center;
	}

	.subscribe-form .form-group{
		padding-right: 0;
		background: none;
	}

	.subscribe-section .title-column h2{
		font-size: 26px;
	}


	.subscribe-form .form-group input[type="submit"], 
	.subscribe-form button{
		position: relative;
		display: block;
		margin-top: 10px;
		width: 100%;
	}
	
	.subscribe-form .form-group input[type="submit"]:hover,
	.subscribe-form button:hover{
		background-color: #ffffff;
		color: #333333;
	}

	.news-block-two .caption-box{
		position: relative;
		display: block;
		width: 100%;
		padding: 25px 15px 25px;;
	}

	.news-block-two .caption-box .title{
		position: relative;
		padding: 10px 0 0;
	}

	.mixitup-gallery .filters li{
		width: 100%;
	}

	.about-style-two .image-box .overlay-box .text{
		display: none;
	}

	.accordion-box .block .acc-btn{
		padding: 10px 40px 10px 0px;
		font-size: 16px;
	}

	.accordion-box .block .acc-btn .icon-outer{
		line-height: 50px;
	}

	.accordion-box .block .content{
		padding-right: 0;
	}

	.main-menu .navbar-header{
		padding: 0;
		margin-top: 7px;
	}

	.main-header .main-box .logo-box{
		max-width: 100%;
		padding: 16px 0;
	}

	.main-header .main-box .logo-box h1{
		font-size: 24px;
	}
	.main-header .nav-outer{
		margin-top: -54px;
	}

	.comments-area .comment{
		padding-right: 0;
	}
	.comments-area .comment-box .reply-btn{
		position: relative;
		display: inline-block;
		margin-top: 10px;
	}

	.blog-single .post-share-options{
		padding: 15px 0 0;
	}

	.blog-single .post-share-options .pull-left,
	.blog-single .post-share-options .pull-right{
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.comments-area .comment-box{
		padding: 20px 15px;
	}

	.comments-area .comment-box .author-thumb{
		position: relative;
	}

	.comments-area .comment{
		padding-left: 0;
	}

	.news-block .caption-box{
		-webkit-transform: translateY(-80px);
		-moz-transform: translateY(-80px);
		-ms-transform: translateY(-80px);
		-o-transform: translateY(-80px);
		transform: translateY(-80px);
	}

	.contact-form button,
	.comment-form button{
		display: block;
		width: 100%;
	}

	.gallery-full-width .filters .filter-tabs{
		padding: 0 15px;
	}

	.gallery-full-width .big-column{
		width: 100%;
	}
	
	.gallery-full-width .small-column{
		width: 100%;
	}

}

@media only screen and (max-width: 479px) {

	.main-slider h1{
		font-size: 24px;
	}

	.fun-fact-section .counter-column .inner{
		padding-left: 0;
		text-align: center;
	}

	.fun-fact-section .counter-column .icon-box{
		position: relative;
		margin-bottom: 10px;
	}	

	.main-footer .footer-bottom .copyright-text,
	.main-footer .footer-bottom .contact-link{
		width: 100%;
		text-align: center;
	}

	.main-footer .footer-bottom p{
		font-size: 13px;
		float: none;
	}

	.news-list .news-block .caption-box p{
		display: none;
	}

	.scroll-to-top{
		right: 15px;
	}

	.news-block-two .caption-box h3{
		font-size: 14px;
	}

	.gallery-item .image-box .title-box{
		padding: 50px 15px;
	}

	.gallery-item .image-box .title-img img{
		min-height: 370px;
	}

	.blog-single h3{
		font-size: 16px;
	}

	.tag-list li{
		width: 100%;
	}

	.gallery-full-width .filters li{
		width: 100%;
	}

	.gallery-full-width .small-column{
		width: 100%;
	}

	.news-block .caption-box{
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		transform: translateY(-100px);
	}

	.blog-list .news-block .caption-box{
		padding-top: 20px;
	}

	.blog-list .news-block .caption-box p{
		display: none;
	}
	
	.gallery-item:hover .image-box .overlay-box .link{
		-webkit-transform: scale(.7);
		-moz-transform: scale(.7);
		-ms-transform: scale(.7);
		-o-transform: scale(.7);
		transform: scale(.7);
	}
}
